<% provide(:title, "使い方") %>
<h1>Foldeli Onlineの使い方</h1>
<div class="mb-5">
  <h3 class="about-tweet-titile p-3 pl-5 mb-5">ツイート機能</h3>
  <div class="mb-5">
    <h4 class="about-sub-title p-2"><i class="fas fa-caret-square-right mr-2"></i>ツイートをする</h4>
    <p>ログイン後、トップページからツイートを投稿することができます。</p>
    <div class="row">
      <%=image_tag("tweet.png", :alt => "",class: "col-12 col-md-6 border rounded shadow p-0 mb-3 mb-md-0")%>
    </div>
  </div>
  <div class="mb-5">
    <h4 class="about-sub-title p-2"><i class="fas fa-caret-square-right mr-2"></i>ツイートにいいねをする</h4>
    <p>ツイートのハートマークをクリックするとツイートにいいねをすることができます。</p>
    <div class="row">
      <%=image_tag("like.png", :alt => "",class: "col-8 col-md-4 border rounded shadow p-0 mb-3 mb-md-0")%>
    </div>
  </div>
  <div class="">
    <h4 class="about-sub-title p-2"><i class="fas fa-caret-square-right mr-2"></i>ツイートにコメントをする</h4>
    <p>ツイートの詳細ページに行くと、コメントを投稿することができます。</p>
    <div class="row">
      <%=image_tag("comment.png", :alt => "",class: "col-12 col-md-6 border rounded shadow p-0 mb-3 mb-md-0")%>
    </div>
  </div>
</div>

<div class="mb-5">
  <h3 class="about-follow-titile p-3 pl-5 mb-5">フォロワー機能</h3>
  <div class="mb-5">
    <h4 class="about-sub-title p-2"><i class="fas fa-caret-square-right mr-2"></i>フォローする</h4>
    <p>
      ユーザーのプロフィールページに行き、フォローボタンをクリックするとユーザーをフォローすることができます。<br>
      フォロワーはプロフィールページから確認することができます。
    </p>
    <div class="row">
      <%=image_tag("follow.png", :alt => "",class: "col-8 col-md-4 border rounded shadow p-0 mb-3 mb-md-0")%>
    </div>
  </div>
</div>

<div class="row">
  <h3 class="about-chat-titile col-12 p-3 pl-5 mb-5">個人チャット機能</h3>
  <div class="mb-5">
    <h4 class="about-sub-title p-2"><i class="fas fa-caret-square-right mr-2"></i>個人チャットを始める</h4>
    <div class="row">
      <div class="col-12 col-lg-4 mb-5 mb-lg-0">
        <p>
          (1)ユーザーのプロフィールページに行くと<span class="text-success">相互フォロワー</span>の場合「チャットを始めるボタン」が表示されます。<br>
          クリックすると個人チャットページへ移ります。
        </p>
        <%=image_tag("chat_to.png", :alt => "",class: "col-8 col-lg-12 border rounded shadow p-0 mb-3 mb-md-0")%>
      </div>
      <div class="col-12 col-lg-8">
        <p>(2)個人チャットページで、メッセージのやり取りを行うことができます。</p>
        <%=image_tag("dm_chat.png", :alt => "",class: "col-12 border rounded shadow p-0 mb-3 mb-md-0")%>
      </div>
      <div class="col-12 mt-5">
        <p>(3)個人チャットの履歴は、<span class="text-success">「メニューのチャット → 個人チャット履歴」</span>で確認することができます。</p>
        <%=image_tag("dm_history.png", :alt => "",class: "col-10 col-lg-6 border rounded shadow p-0 mb-3 mb-md-0")%>
      </div>
    </div>
  </div>
</div>

<div>
  <h3 class="about-chat-titile col-12 p-3 pl-5 mb-5">全国チャット機能</h3>
  <h4 class="about-sub-title p-2"><i class="fas fa-caret-square-right mr-2"></i>全国チャットを始める</h4>
  <div class="row">
    <div class="col-md-6">
      <p>
        (1)<span class="text-success">「メニューのチャット → チャットを探す」</span>からチャット検索画面に移ります。
      </p>
      <%=image_tag("chat_search.png", :alt => "",class: "col-12 border rounded shadow p-0 mb-3 mb-md-0")%>
    </div>
    <div class="col-md-6 mt-5 mt-md-0">
      <p>
        (2)会社とエリアを指定するとチャット画面が表示されます。そこで参加者同士でメッセージのやり取りを行うことができます。
      </p>
      <%=image_tag("chat.png", :alt => "",class: "col-12 border rounded shadow p-0 mb-3 mb-md-0")%>
    </div>
    <div class="col-12 mt-5">
      <p>
        (3)<span class="text-success">「メニューのチャット → 参加チャット」</span>から現在参加中のチャット一覧を確認することができます。
      </p>
      <%=image_tag("chat_history.png", :alt => "",class: "col-12 col-md-8 border rounded shadow p-0 mb-3 mb-md-0")%>
    </div>
  </div>
</div>