<div class="container">
<% if logged_in? %>
  <div class="container">
    <section class="row">
      <aside class="col-lg-4">
        <div class="p-3 tweet-form shadow mt-5">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="tweet_form">
            <%= render 'shared/tweet_form' %>
          </section>
        </div>
      </aside>
      <div class="col-lg-8">
          <div class="row">
            <%= form_with url: tweet_search_path, method: :get, class: "form-inline d-block text-right col-xl-12  mt-4 mt-lg-0 mb-4", local: true do |f| %>
              <input class="form-control m-0 mr-1" type="search" placeholder="Search" aria-label="Search" name="keyword" id="keyword">
              <button class="btn search-btn mt-2 m-md-0" type="submit">Search</button>
            <% end %>
          </div>
          <% if @search == 'search'%>
            <h4 class="mb-3"><%= @feed_count %>件ヒットしました</h4>
          <% else %>
            <h4 class="mb-3">みんなのツイート (<%= @feed_count %>)</h4>
          <% end %>

        <%= render 'shared/feed' %>
      </div>
    </section>
  </div>
<% else %>
  <h2>採用担当者様 専用ログインフォーム</h2>
  <div class="text-center mb-4">
    <a class="btn btn-info home-button" href="/recruit" role="button">こちらをクリック<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
  </div>
  <div class="home-head-group p-5 mb-5">
    <h1 class="home-head border-bottom pb-3">Fodeli Onlineとは？</h1>
    <p class="text-center">フードデリバリー配達員が仕事に関する情報交換や、同業種の繋がり作ることができるサービスです。</p>
  </div>
  <div class="row mb-5 top-content">
    <div class="col-12 col-md-6">
      <p>
        ・仕事をしてる時、
        こんな風に思ったことはありませんか？
      </p>
      <ul class="home-list-group p-0">
        <li class="home-list p-2 mb-3"><i class="fas fa-question-circle question mr-1"></i>「注文来ないな〜。稼いでる人はどんな風に仕事しているんだろう？」</li>
        <li class="home-list p-2"><i class="fas fa-question-circle question mr-1"></i>もっと同業種の知り合いが欲しいな〜 一人でずっと仕事してても、寂しくなってくる....</li>
      </ul>
    </div>
    <%=image_tag("derivari_man.jpg", :alt => "",class: "col-12 col-md-6 border rounded shadow p-0 mb-3 mb-md-0")%>
  </div>
  <div class="row mb-5 align-items-start">
    <%=image_tag("chat.jpg", :alt => "",class: "col-12 col-md-6 border rounded shadow p-0  mb-3 mb-md-0")%>
    <div class="col-12 col-md-6">
      <p>Fodeli Onlineでは、</p>
      <ul class="home-list-group p-0">
        <li class="home-list p-2 mb-3"><i class="fas fa-check-circle check mr-1"></i>地域別のオンラインチャット</li>
        <li class="home-list p-2 mb-3"><i class="fas fa-check-circle check mr-1"></i>ツイート機能</li>
        <li class="home-list p-2 mb-3"><i class="fas fa-check-circle check mr-1"></i>フォローフォロワー機能</li>
        <li class="home-list p-2"><i class="fas fa-check-circle check mr-1"></i>個人チャット機能</li>
      </ul>
      <p>
        上記の機能を利用することで情報交換や繋がりを増やすことできます。
        対応しているサービスは<span class="text-success">「 Uber Eats、出前館、フードパンダ、wolt 、menuなど」</span>多くのサービスに対応しています。
        今すぐ登録してサービスを利用してみましょう！
      </p>
    ​</div>
  </div>

  <div class="text-center">
    <a class="btn btn-danger home-button" href="/signup" role="button">今すぐ登録する！</a>
  </div>
<% end %>
</div>
