<% provide(:title, "ログイン") %>
<h1 class="mt-5">ログイン</h1>
<div class="row">
  <div class="col-md-6 m-auto">
    <%= form_with(url: login_path,scope: :session, local: true) do |f| %>
      <div class = 'form-group'>
        <%= f.label(:email,'メールアドレス') %>
        <%= f.email_field :email, class: 'form-control', id: 'session_email' %>
      </div>
      <div class = 'form-group'>
        <%= f.label(:password,'パスワード')  %>
        <%= f.password_field :password, class: 'form-control', id: 'session_password' %>
        <p class="fogot-pass"><%= link_to "(パスワードを忘れた方はこちら)", new_password_reset_path %></p>
      </div>
      <div class = 'form-group'>
        <%= f.label :remember_me, class: "checkbox" do %>
          <%= f.check_box :remember_me %>
          <span>ログインしたままにする</span>
        <% end %>
      </div>
      <%= f.submit 'ログイン', class: 'btn btn-primary' %>
    <% end %>
    <br>ユーザー登録されていない方は<%= link_to 'こちら', signup_path %>
  </div>
</div>