<% provide(:title, "#{@area.city}のチャット") %>
<div class="row mt-5">
  <div class="col-lg-4">
    <h3 class="chat-area-head shadow-sm p-3 rounded"><%= @company.name %><br><%= @area.city %>のチャット</h3>
    <p class="border-bottom">参加ユーザー</p>
    <% if @users.any? %>
        <div class="user_avatars mb-sm-3">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user.user, size: 30), user.user %>
          <% end %>
        </div>
    <% end %>
    <%= link_to "退出", chat_room_path(@room), method: :delete,
                                                data: { confirm: "ルームを退出しますか?" } %>
  </div>
  <hr>
  <div class="chats col-lg-8 pl-5 pr-5 pt-5">
    <!--チャットコメント部分-->
    <div class="row" id="chat-content">
      <%= render('shared/message') %>
    </div>
    <!--ここまで-->
    <div class="posts">
      <%= form_with(model:@message) do |f| %>
        <%= f.hidden_field :chat_room_id, value: @room.id %>
        <div class="row">
          <div class="col-lg-10"><%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field form-control" %></div>
          <div class="col-lg-2"><%= f.submit "投稿",class: 'btn btn-primary form-submit'%></div>
        </div>
      <% end %>
    </div>

  </div>
</div>