<% comment_user = User.find(comment.user_id) %>
<li id="comment-<%= comment.id %>" class="p-3">
  <div class="row">
    <div class="col-lg-2">
      <span class="user"><%= link_to comment_user.name, comment_user %></span>
    </div>
    <div class="col-lg-10">
      <span class="comment"><%= comment.content %></span>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-8 col-lg-10">
      <span class="comment-create-at"><%= time_ago_in_words(comment.created_at) %>前</span>
    </div>
    <div class="col-4 col-lg-2">
      <% if current_user.id == comment.user_id %>
      <%= link_to "削除", comment_path(comment), method: :delete,
                                      data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </div>
  </div>
</li>