<% provide(:title, "ツイートの詳細") %>
<div class="container">
  <div class="row mt-5">
    <section id="tweet-<%= @tweet.id %>" class="col-md-4">
      <%= link_to gravatar_for(@tweet.user, size: 50), @tweet.user %>
      <span class="user ml-3"><%= link_to @tweet.user.name, @tweet.user %></span>
      <%= render 'users/like_form' %>
      <p class="content mt-3"><%= @tweet.content %></p>
      <% if @tweet.pictures? %>
        <% @tweet.pictures.each do |picture| %>
        <p><%= image_tag picture.to_s %></p>
        <% end %>
      <% end %>
      <% if current_user == @tweet.user %>
        <p><i class="fas fa-arrow-circle-right mr-2"></i><%= link_to "投稿を編集する", edit_tweet_path(@tweet) %></p>
      <% end %>
      <span class="timestamp">
        <%= time_ago_in_words(@tweet.created_at) %>前に投稿
      </span>
      <% if current_user?(@tweet.user) %>
          <%= link_to "削除", @tweet, method: :delete,
                                           data: { confirm: "投稿を削除しますか?" } %>
        <% end %>
    </section>
    <section class="col-md-8">
      <div class="comment">
        <%= render "comments/new" %>
        <%= render "comments/feed_comments" %>
      </div>
    </section>

  </div>
</div>

