<% provide(:title, "個人チャット履歴") %>
<h4 class="chat-user-name p-3 d-inline-block"><i class="fas fa-comment mr-2 chat-head"></i>個人チャット履歴</h4>
<div class="row mt-5">
  <section class="col-lg-8">
    <ul class="list-group">
      <% if @rooms.present? %>
        <% @rooms.each do |r| %>
          <li class="list-group-item p-0">
            <%= link_to(r,class: "d-block tweet-link") do %>
              <div class="row p-3 align-items-start">
                  <% r.dm_entry.each do |e| %>
                    <% unless current_user?(e.user) %>
                      <%= gravatar_for e.user,cl: "col-3 col-md-2 rounded-circle dmlists-img" %>
                      <div class="col-9 col-md-10">
                        <p><%=e.user.name%></p>
                        <% if e.dm_room.dm_messages.any? %>
                        <p class="text-muted"><%=e.dm_room.dm_messages.last.message%></p>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                  <p class="col-12 text-muted text-right m-0"><%= l r.updated_at %></p>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
</div>