<% provide(:title, "個人チャット履歴") %>
<div class="row mt-5">
  <aside class="col-md-4">
      <h4 class="chat-user-name"><i class="fas fa-comment mr-2 chat-head"></i>個人チャット履歴</h4>
  </aside>
  <section class="col-md-8">
    <ul class="list-group">
      <% if @rooms.any? %>
        <% @rooms.each do |r| %>
          <li class="list-group-item p-0">
            <%= link_to(r,class: "d-block tweet-link") do %>
              <div class="row p-3">
                  <% r.dm_entry.each do |e| %>
                    <% unless current_user?(e.user) %>
                      <%= gravatar_for e.user,cl: "col-2 rounded-circle" %>
                      <div class="col-8">
                        <p><%=e.user.name%></p>
                        <% if e.dm_room.dm_messages.any? %>
                        <p class="text-muted"><%=e.dm_room.dm_messages.last.message%></p>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                  <span class="col-2 text-muted"><%= l r.updated_at %></span>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
</div>