<% provide(:title, "プロフィール編集") %>
<div class="row pt-5">
  <div class="col-md-8 col-lg-6 col-md-offset-3 mx-auto user-edit-box">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    <div class="gravatar_edit d-flex align-items-center border-bottom pb-3">
      <%= image_tag @user.image.url,class: "profile-image" %>
      <h3 class="ml-3"><%= @user.name %></h3>
      <!-- <a href="http://gravatar.com/emails" target="_blank">プロフィール写真を変更</a> -->
    </div>
    <p></p>
    <div class="custom-control custom-checkbox mb-2">
      <%= f.check_box :remove_avatar,class: "custom-control-input image-remove-check-box",id: "customCheck1" %>
      <label class="custom-control-label" for="customCheck1">画像を削除</label>
    </div>
    <label class="" for="image-file">↓画像を変更する</label>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png',id: "image-file" %>
    <div class = 'form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', id: 'user_name' %>
    </div>
    <div class = 'form-group'>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control', id: 'user_email' %>
    </div>
    <div class = 'form-group'>
      <%= f.label :introduction %>
      <%= f.text_area :introduction, size: "60x4", class: 'form-control', id: 'user_introduction' %>
    </div>
    <!-- <div class = 'form-group'>
      <%= f.label :sex %>
      <%= f.text_field :sex, class: 'form-control', id: 'user_sex' %>
    </div> -->
    <p class="border-bottom">性別</p>
    <div class = 'form-group d-flex align-items-center'>
      <%= f.label :sex, "男", for: "user_man",class: "m-0" %>
      <%= f.radio_button :sex,"男", class: 'radio', id: 'user_man', checked: true %>
      <%= f.label :sex, "女", for: "user_woman",class: "m-0" %>
      <%= f.radio_button :sex,"女", class: 'radio', id: 'user_woman'%>
    </div>

    <%= f.submit "更新する", class: "btn btn-primary" %>
    <%= link_to "アカウントを削除する", user_path(@user), method: :delete,
                                data: { confirm: "本当にこのアカウントを削除してよろしいですか？" } %>
    <% end %>
  </div>


</div>

<script type="text/javascript">
  $('#user_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('画像のサイズは5MB以内にしてください');
    }
  });
</script>