<% provide(:title, 'ユーザー一覧') %>
<div class="container">
  <div class="row">
    <%= form_with url: user_search_path, method: :get, local: true,class: 'form-inline d-block text-right col-xl-12' do |f| %>
      <input class="form-control m-0 mr-1" type="search" placeholder="Search" aria-label="Search" name="keyword" id="keyword">
      <button class="btn search-btn mt-2 m-md-0" type="submit">Search</button>
    <% end %>
  </div>
  <h3 class="text-center m-2">ユーザー一覧</h3>
  <% if !@search.nil? && @users_count.present? %>
    <h2><%=@users_count%>名ヒットしました</h2>
  <% end %>
  <%= paginate @users %>
  <ul class="users">
    <%= render @users %>
  </ul>
  <%= paginate @users %>
</div>
