<% provide(:title, "プロフィール") %>
<div class="container">
  <h3 class="title-profile mt-5">プロフィール</h3>
  <div class="row mt-3 mb-5 mr-0 ml-0">
    <div class="col-md-4">
      <div class="user-picture-box">
        <%= gravatar_for @user, size: 120, cl: "gravatar user-picture" %>
        <% if current_user == @user %>
          <div class="account-edit"><i class="fas fa-arrow-circle-right mr-2"></i><%= link_to "プロフィール編集", edit_user_path(@user) %></div>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <p class="show-user-head p-2 mb-3">名前</p>
      <h4 class="show-user-name pl-3"><%= @user.name %></h4>
      <p class="show-user-head p-2 mb-3">性別</p>
      <p class="pl-3"><%= @user.sex %></p>
      <div class="show-user-introduction">
        <p class="show-user-head p-2 mb-3">自己紹介</p>
      <p class="pl-3"><%= @user.introduction %></p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="form-group col-md-4">
        <!-- <label for="inputState">State</label> -->
        <select id="inputState" class="form-control">
          <option selected>ツイート履歴</option>
          <option>参加予定のオフ会</option>
          <option>登録チャット</option>
        </select>
      </div>
      <% if @user.tweets.any? %>
        <h3 class="mt-5">ツイート (<%= @user.tweets.count %>)</h3>
        <ul class="tweets">
          <%= render @tweets %>
        </ul>
        <%= paginate @tweets %>
      <% end %>
    </div>
  </div>
</div>