<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  </head>
  <body>
    <div id="page" class="page">
      <%= render 'layouts/header' %>

      <% flash.each do |message_type, messages| %>
        <% if messages.instance_of?(Array) %>
          <% messages.each do |message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        <% else %>
          <div class="alert alert-<%= message_type %>"><%= messages %></div>
        <% end %>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
